body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.attractive-body {
    background-color: #f4f4f4;
}

.main {
    height: 100vh;
    display: flex;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    height: 400px;
    width: 500px;
    object-fit: cover;
    margin: 10px 15px;
    filter: drop-shadow(2px 4px 6px #4a5e72);
    border-radius: 15px;
}

.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #2c3e50; /* Dark blue-gray */
    color: #ecf0f1; /* Light gray */
}

.main__right {
    position: absolute;
    height: 100vh;
    right: 0;
    width: 20%;
    background-color: #34495e; /* Dark blue-gray */
    color: #ecf0f1; /* Light gray */
    overflow-y: auto; /* Changed to 'auto' */
    scrollbar-width: thin; /* Firefox */
    scrollbar-color: #2c3e50 #34495e; /* Firefox */
}

.main__videos {
    flex-grow: 1;
    background-color: #34495e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__controls {
    display: flex;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 5px;
    justify-content: space-between;
}

.main__controls__block {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main__controls__button i {
    font-size: 24px;
}

.main__controls__button:hover {
    background-color: #3e556f;
    border-radius: 5px;
}

.leave__meeting {
    color: #e74c3c; /* Red */
}

.main__right {
    display: flex;
    flex-direction: column;
    background-color: #34495e;
    border: 1px solid #3D3D42;
}
.main__header {
    color: #ecf0f1;
    text-align: center;
}

.main__chat_window {
    flex-grow: 1;
    overflow: scroll;
}

.main__message__container {
    padding: 22px 12px;
    display: flex;
}

.main__message__container input {
    flex-grow: 1;
    background-color: #2c3e50; /* Dark blue-gray */
    border: none;
    outline: none;
    color: #ecf0f1;
    padding: 8px;
    border-radius: 5px;
}

.messages {
    color: white;
    list-style: none;
}

.unmute {
    color: #e74c3c;
}

#chat_message::placeholder {
    color: #9da7c3;
}

#leaveMeeting {
    position: relative;
    right: 300%;
}